body {
  background: url(../image/bg.png) left bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
}
.secondary-title {
  color: #fff;
  font-size: 2.3rem;
  margin: 0 0 30px;
}
header h1 {
  font-size: 7rem;
  color: #fff;
  margin: 0 0 30px;
}
.tertiary-title {
  color: #aaa;
  margin: 0 0 30px;
}
.header-nav {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin: 0 auto;
}
.header-nav a {
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  height: 50px;
  line-height: 50px;
  width: 180px;
}
.header-nav a:nth-child(1) {
  background: #dbd76b;
}
.header-nav a:nth-child(2) {
  background: #daa520;
}
.about-area {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 80px 0;
}
.about-area h2 {
  border-bottom: double 4px #000;
  display: inline-block;
  font-size: 3.5rem;
  margin: 0 0 40px;
  padding: 0 0 6px;
}
.about-area p {
  color: #333;
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 0 0 30px;
}